<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Searched</title>
    <script src="../../static/script/search_script.js" defer></script>
</head>
<body>
    <h1>Employee Searched: {{ employee_data.email }}</h1><br>
    <a href="/employer_main_page"><img src="../../../static/img/logo.PNG" alt="logo" class="company-logo" width="80" height="80"></a>
<br>
<form id="searchForm">
    <label for="global_search_query">Wyszukaj pracowników:</label>
    <input type="text" id="global_search_query" name="query" required>
</form>
<br>
<!-- Wyświetl wyniki na bieżącej stronie -->
<div id="searchResults"></div> <br> <br>

    <!-- Wyświetl pozostałe dane pracownika -->
    <p>Imię: {{ employee_data.first_name }}</p>
    <p>Nazwisko: {{ employee_data.last_name }}</p>
    <p>Numer telefonu: {{ employee_data.phone }}</p>

<!-- Formularz do wybierania zespołów -->
<form method="POST" action="/invite_employee/{{ employee_data.user_id }}">
    <label>Wybierz zespoły:</label>
    {% for team_name in team_names %}
        <div>
            <input type="checkbox" name="teams" value="{{ team_name }}">
            <label>{{ team_name }}</label>
        </div>
    {% endfor %}
    <!-- Dodajmy ukryte pole oznaczające akcję zaproszenia -->
    <button type="submit">Zaproś</button>
</form>




    <!-- Link do powrotu do poprzedniej strony -->
    <a href="{{ url_for('teams') }}">Powrót do zespołów</a>


</body>
</html>
