<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resetowanie hasła</title>
</head>
<body>
<a href="/"><img src="../static/img/logo.PNG" alt="logo" class="company-logo" width="80" height="80"></a>
    <h1>Reset hasła</h1>
    <form action="/password_reset" method="post">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <input type="submit" value="Wyślij link resetujący hasło na emaila">
    </form>
<a href="/login">Logowanie</a>
</body>
</html>