<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preferencje pracownika</title>
</head>
<body>
<a href="/employer_main_page"><img src="../../../../../static/img/logo.PNG" alt="logo" class="company-logo" width="80" height="80"></a>

{# Wyświetlanie błędu #}
{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}

{% if employee_preferences %}
    <h1>Preferencje pracownika: {{ employee_name }}</h1>
    <ul>
        {% if employee_preferences.MinShiftLength %}
            <li>Minimalna długość zmiany: {{ employee_preferences.MinShiftLength }}</li>
        {% endif %}
        {% if employee_preferences.MaxShiftLength %}
            <li>Maksymalna długość zmiany: {{ employee_preferences.MaxShiftLength }}</li>
        {% endif %}
    </ul>
{% else %}
    <p>Ten pracownik nie posiada żadnych preferencji pracy.</p>
{% endif %}
<br>
<a href="{{ url_for('team_employees_main_page', team_name=team_name, team_uid=team_uid, employee_name=employee_data['first_name'], employee_id=employee_data['user_id']) }}">Dane pracownika</a>

</body>
</html>
